@charset "utf-8";
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

.ev08_wrap * { font-family: 'NanumSquareRound','Noto Sans KR'; font-weight: 700;} 
.ev08_wrap .innerSection { max-width: 1400px; width: calc(100% - 20px); margin: 0 auto; padding: 0; } 