body { max-width: 1440px; width: 100%; margin: auto; } 
.mg70 { margin: 7rem 0 } 
.pd70 { padding: 7rem 0 } 
/* 메인 */
.mod_visual { width: 100%; height: 700px; padding: 60px 0; background: url(../images/corp02/visual.png) no-repeat; background-size: cover; text-align: center; } 
 .mod_visual img { display: block; margin: 20rem auto 2rem; } 
 .mod_visual .comName { color: #2b4d73; font-size: 6.5rem; font-weight: bold; } 
 .mod_visual .title { font-size: 2.6rem; color: #3e3a39; } 
 .sns_mod_info { background: url(../images/corp02/info.png) no-repeat !important; background-size: cover !important; } 
 .sns_mod_info.sty01 .info_wrap > li { color: #507edb; } 
/* 연혁 */
.mod_history03 .history > div > span { border-top: 1px solid #16388e; } 
.mod_history03 .history > div > ul > li .event span::before { color: #507edb; } 
.mod_history03 .history > div > ul > li .event span { color: #666; } 

/* 비전 */
.mod_info01 { display: flex; justify-content: space-around; background-image: url(../images/corp02/vision.png); background-size: cover; background-position: 50% 50%; } 
.mod_info01 > div { background: none; } 

/* 인재상 */
.mod_talent01 { background: linear-gradient( 135deg, #002957 40%, #004c97); } 
.mod_talent01 .title_area h2:before { background: #fff; } 
.mod_talent01 .title_area h2 { color: #fff; } 
.mod_talent01 .title_area span { color: #fff; } 
.mod_talent01 .text_area .txt { color: #fff; } 
 
/* 핵심가치 */
.mod_coreValue02 { background: #fff; padding-bottom: 80px; } 
.mod_coreValue02 h3 { font-size: 40px; color: #333333; font-weight: bold; text-align: center; position: relative; padding-top: 95px; } 
.mod_coreValue02 h3:before { content: ''; display: block; width: 3px; height: 80px; background: #333; position: absolute; top: 0; left: 50%; } 
.mod_coreValue02 h3 span { display: block; font-size: 21px; margin-top: 25px; } 
.mod_coreValue02 .value { display: flex; max-width: 1200px; margin: 60px auto 0; flex-wrap: wrap; justify-content: space-between; } 
.mod_coreValue02 .value li { width: calc(100% / 4 - 10px); } 
.mod_coreValue02 .value li > div { display: flex; width: 280px; height: 280px; margin: 0 auto; background: #f4f4f4; border-radius: 100%; text-align: center; color: #333; justify-content: center; align-items: center; flex-direction: column; } 
.mod_coreValue02 .value li h4 { font-size: 24px; font-weight: bold; margin-top: 25px; } 
.mod_coreValue02 .value li p { margin-top: 6px; word-break: keep-all; } 

/* 전략과제 */
.mod_strategy02 { background: #fff; } 
.mod_strategy02 .container { padding: 80px 0 80px 0; position: relative; border-top: 1px solid #ccc; } 
.mod_strategy02 .container::after { content: ''; width: 211px; height: 279px; position: absolute; bottom: 0; left: -40px; background: url(../images/corp02/strategy01.png) no-repeat; } 
.mod_strategy02 .container::before { content: ''; width: 274px; height: 282px; position: absolute; bottom: 0; right: -80px; background: url(../images/corp02/strategy02.png) no-repeat; } 
.mod_strategy02 h3 { padding: 0 0 0 30px; font-size: 40px; font-weight: 700; text-transform: uppercase; line-height: 1.3; position: relative; } 
.mod_strategy02 h3:before { width: 2px; height: 80px; margin: 0 auto; content: ''; display: block; background: #333; position: absolute; left: 0; top: 50%; transform: translateY(-50%); } 
.mod_strategy02 .addMsg { padding: 15px 0 0 0; text-align: center; color: #000; font-size: 21px; } 
.mod_strategy02 .strategic_item { padding: 5rem 1rem; margin: 3rem 5rem; background: #f4f4f4; text-align: center; border-radius: 20px; } 
.mod_strategy02 .strategic_item p { color: #333; font-size: 2.2rem; } 

/* 재무정보 */
.mod_finance01 > div { background: #ccd4dd; } 
.mod_finance01 h3 { color: #333; } 
.mod_finance01 h3 span { color: #cccccc; } 
.mod_finance01 > div .tab_wrap .tab > div.on { background: #002856; } 

/* 재무정보02 */
.mod_finance08 h3 span { color: #002856; } 
.mod_finance08 .tit_wrap > h3 span:after { background: #002856; } 
.mod_finance08 .conts_wrap > div { background: #002856; } 
.mod_finance08 .conts_wrap > div:nth-child(even) { border: 1px solid #002856; background: rgba(255, 255, 255, 0.83); color: #002856; } 

/* 인터뷰 */
.mod_interview01 { background: #004c97; } 
.mod_interview01 .slick-slide { height: auto; } 
.mod_interview01 .interview_wrap .iv_cont > div .photo { border-radius: 50% 0 0 50%; } 
.mod_interview01 .interview_wrap .iv_cont > div .interview .q { color: #004c97; } 
.mod_interview01 .interview_wrap .slick-dots li.slick-active { background: #004c97; } 
.mod_interview01 .interview_wrap .iv_cont > div .interview .a { margin-bottom: 24px; } 

/* 조직문화 */
.mod_culture11 h3 span { color: #fff; } 
.mod_culture11 .culture_wrap .item.dvCulture_0:before { background-image: url(../images/corp02/culture01.png); } 
.mod_culture11 .culture_wrap .item.dvCulture_1:before { background-image: url(../images/corp02/culture02.png); } 
.mod_culture11 .culture_wrap .item.dvCulture_2:before { background-image: url(../images/corp02/culture03.png); } 
.mod_culture11 .welfare_wrap .item.deduct:before { background-image: url(../images/corp02/welfare01.png); } 
.mod_culture11 .welfare_wrap .item.insurance:before { background-color: initial; background-image: url(../images/corp02/welfare02.png); } 
.mod_culture11 .welfare_wrap .item.education:before { background-image: url(../images/corp02/welfare03.png); } 
.mod_culture11 .welfare_wrap .item.convenience:before { background-image: url(../images/corp02/welfare04.png); } 
.mod_culture11 .welfare_wrap .item.leisure:before { background-image: url(../images/corp02/welfare05.png); } 
.mod_culture11 .welfare_wrap .item.reward:before { background-image: url(../images/corp02/welfare06.png); } 
.mod_culture11 .welfare_wrap .item.facilities:before { background-image: url(../images/corp02/welfare07.png); } 
.mod_culture11 .welfare_wrap .item.holiday:before { background-image: url(../images/corp02/welfare08.png); } 
.mod_culture11 .welfare_wrap .item.etc:before { background-image: url(../images/corp02/welfare09.png); } 

/* 기업전경 */
.mod_media { position: relative; } 
.mod_media .slick-list, .mod_media .slick-slider, .mod_media .slick-track, .mod_media .container { position: static; } 
.mod_media .slick-prev { left: 0; background-position: 0 0; } 
.mod_media .slick-next { right: 0; background-position: -70px 0; } 
.mod_media .slick-slide { height: auto; } 
.mod_media .slick-arrow { position: absolute; top: 50%; transform: translateY(-50%); border: none; font-size: 0; width: 70px; height: 100px; background-color: rgba(0,0,0,.5); background-image: url(../images/corp02/slider_arrow2.png); background-repeat: no-repeat; opacity: .7; z-index: 1; } 
.mod_media li .tit { margin-bottom: 4rem; font-size: 4rem; font-weight: bold; text-align: center; } 

/* 주요상품 */
.sp_mod_product02 { position: relative; } 
.sp_mod_product02 .slick-arrow { position: absolute; top: 50%; transform: translateY(-50%); border: none; font-size: 0; width: 70px; height: 100px; background-color: rgba(0,0,0,.5); background-image: url(../images/corp02/slider_arrow2.png); background-repeat: no-repeat; opacity: .7; z-index: 1; } 
.sp_mod_product02 .slick-prev { left: calc(40% - 10px); background-position: 0 0; } 
.sp_mod_product02 .slick-next { right: -31px; background-position: -70px 0; } 
.sp_mod_product02 .item { display: flex !important; justify-content: space-between; height: auto; } 
.sp_mod_product02 .item .txt { width: 40%; margin-top: 10rem; word-break: keep-all; margin-right: 20px; } 
.sp_mod_product02 .item h4 { font-size: 3.4rem; margin-bottom: 1rem; color: #002856; font-weight: bold; } 
.sp_mod_product02 .item p { font-size: 2rem; color: #666; } 
.sp_mod_product02 .item .img { width: calc(60% - 20px); } 
.sp_mod_product02 .item .img img { width: 100%; object-fit: cover; max-height: 530px; } 
.sp_mod_product02 .slider-container { position: absolute; left: 30%; bottom: 0; font-weight: 500; color: #898989; } 
.sp_mod_product02 .active { font-size: 3rem; color: #f68a1e; font-weight: bold; } 





@media all and (max-width:1024px){
 .mod_visual .container { width: calc(100% - 40px); } 
 .mod_history03 { overflow: hidden; } 

 .mod_coreValue02 .value { gap: 10px; } 
 .mod_coreValue02 .value li { width: calc(100% / 2 - 10px); } 

 .mod_strategy02 .container::after,
 .mod_strategy02 .container::before { content: none; } 

 .sp_mod_product02 .product { padding: 4rem 3rem; } 
 .sp_mod_product02 .slider-container { left: 3rem; } 
 .sp_mod_product02 .item .img { width: calc(40% - 20px) } 
 .sp_mod_product02 .item .txt { width: 60% } 
 .sp_mod_product02 .slick-arrow { width: 35px; height: 50px; background-size: auto 100%; } 
 .sp_mod_product02 .slick-prev { left: calc(60% - 5px); } 
 .sp_mod_product02 .slick-next { right: 20px; background-position: -35px 0; } 
 .sp_mod_product02 .item h4 { font-size: 2.6rem } 
 }
 
@media all and (max-width:768px) { 
 html { font-size: 8px } 
 .mod_visual { height: 250px; padding: 3rem 0; } 
 .mod_visual img { max-width: 130px; margin: 2rem auto 2rem } 
 .mod_visual .title { font-size: 2rem; } 
 .mod_visual .comName { font-size: 3rem; } 

 .sns_mod_info.sty01 { padding: 5rem 0; } 
 .sns_mod_info.sty01 .info_wrap { flex-wrap: wrap; } 
 .sns_mod_info.sty01 .info_wrap > li { width: calc(50% - 10px); margin-right: 20px; } 
 .sns_mod_info.sty01 .info_wrap > li:nth-child(-n + 2) { margin-bottom: 20px; } 
 .sns_mod_info.sty01 .info_wrap > li:nth-child(2n) { margin-right: 0; } 
 .sns_mod_info.sty01 .info_wrap > li > div.ico { background-size: 50px !important; height: 50px; } 

 .mod_info01 > div { padding: 40px 0; } 
 .mod_info01 > div .mission,
 .mod_info01 > div .slogan { max-width: 80%; } 

 .mod_coreValue02 .value { flex-direction: column; } 
 .mod_coreValue02 .value li { width: 100%; } 
 
 .mod_coreValue02 .value li > div { width: 100%; padding: 20px; height: auto; border-radius: 20px; } 

 .mod_strategy02 .container { padding: 40px 0; } 
.mod_strategy02 .strategic_item { margin: 3rem 0; } 

.mod_media .slick-arrow { width: 35px; height: 50px; background-size: auto 100%; } 
.mod_media .slick-next { background-position: -35px 0; } 

.sp_mod_product02 .item { flex-direction: column-reverse; } 
.sp_mod_product02 .item .img { width: 100%; margin-bottom: 2rem; } 
.sp_mod_product02 .slick-arrow { top: 40%; } 
.sp_mod_product02 .slick-prev { left: 24px; } 
.sp_mod_product02 .slick-next { right: 24px; } 
.sp_mod_product02 .item .txt { margin-top: 2rem; margin-right: 0; } 
}
