body { max-width: 1440px; width: 100%; margin: auto; } 
.mg70 { margin: 7rem 0 } 
.pd70 { padding: 7rem 0 } 

/* 메인 */
.mod_visual { width: 100%; height: 700px; padding: 60px 0; background: url(../images/corp05/visual.png) no-repeat; background-size: cover; } 
.mod_visual .imgCi { margin-bottom: -30px; text-align: center; } 
.mod_visual .txt_wrap { width: 100%; max-width: 676px; margin: 0 auto; padding: 42px 0; background: rgba(0, 0, 0, 0.5); text-align: center; } 
.mod_visual .comName { color: #fff; font-size: 6.5rem; font-weight: bold; } 
.mod_visual .title { font-size: 3rem; color: #fff; } 
.sns_mod_info.sty01 { background: url(../images/corp05/info.png) no-repeat !important; background-size: cover !important; } 
.sns_mod_info.sty01 .info_wrap > li { color: #fbc106; }
.sns_mod_info.sty01 .info_wrap{display: flex;}
.sns_mod_info.sty01 .info_wrap > li{width: calc(25% - 22.5px);margin-right: 30px;text-align: center;font-size: 2rem;color: #5a6af4}
.sns_mod_info.sty01 .info_wrap > li > div{font-size: 1.8rem;color: #fff;}
.sns_mod_info.sty01 .ico{margin: 0 auto 2.0rem auto;}
.sns_mod_info.sty01 ul li:last-child{margin-right: 0}
.sns_mod_info.sty01 ul li:nth-child(1) .ico{background: url(../images/corp05/ico_finance01.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(2) .ico{background: url(../images/corp05/ico_finance02.png) no-repeat center;width: 109px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(3) .ico{background: url(../images/corp05/ico_finance03.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(4) .ico{background: url(../images/corp05/ico_finance04.png) no-repeat center;width: 99px;height: 101px;}

 /* 연혁 */
.mod_history03 { overflow: hidden; } 
.mod_history03 .history > div > span { border-top: 1px solid #000; color: #000; } 
.mod_history03 .history > div > ul > li .month { display: inline-block; } 
.mod_history03 .history > div > ul > li .event { display: inline-block; } 
.mod_history03 .history > div > ul > li .event span::before { content: none; } 
.mod_history03 .history > div > ul > li .event span { padding-left: 15px; color: #666666; } 

/* 비전 */
.mod_info01 { display: flex; justify-content: space-around; background-image: url(../images/corp05/vision.png); background-size: cover; background-position: 50% 50%; } 
.mod_info01 > div { background: none; } 
.mod_info01 > div .num { color: #fbc106; } 
.mod_info01 > div .vision, .mod_info01 > div .mission, .mod_info01 > div .slogan { font-size: 1.8rem; } 

/* 전략과제 */
.mod_coreValue01 { background: #f1f1f1; } 
.mod_coreValue01 .container { display: flex; width: 100%; } 
.mod_coreValue01 .slick-list { margin: 0 -20px; } 
.mod_coreValue01 .slick-slide { height: auto; margin: 0 20px; } 
.mod_coreValue01 .slick-dots { position: absolute; left: 50%; transform: translateX(-50%); text-align: center; } 
.mod_coreValue01 .slick-dots li { display: inline-block; margin: 0 10px; } 
.mod_coreValue01 .slick-dots li button { width: 15px; height: 15px; background: #ccc; border-radius: 50%; text-indent: -9999px; } 
.mod_coreValue01 .slick-dots li.slick-active button { background: #888; } 
.mod_coreValue01 .box { width: 100%; max-width: 500px; padding: 6rem; position: relative; background: url(../images/corp05/coreValue01.png) no-repeat; background-size: cover; } 
.mod_coreValue01 .box::after { content: ''; width: 0; height: 0; position: absolute; top: 0; right: 0; border-bottom: 480px solid transparent; border-right: 130px solid #f1f1f1; } 
.mod_coreValue01 .box h3 { margin-right: 8rem; color: #fff; font-size: 4rem; font-weight: bold; text-align: right; } 
.mod_coreValue01 .item { width: 600px; height: 480px; padding: 0; } 
.mod_coreValue01 .list_item { padding: 2.3rem 0; border-bottom: 1px solid #000; } 
.mod_coreValue01 .list_item:nth-child(1) { margin-right: 40px; } 
.mod_coreValue01 .list_item:nth-child(2) { margin-left: 40px; } 
.mod_coreValue01 .list_item:nth-child(3) { margin-left: 80px; } 
.mod_coreValue01 .list_item:last-child { border-bottom: none; } 
.mod_coreValue01 .list_item h4 { margin-bottom: 2rem; color: #000; font-size: 2.4rem; font-weight: bold; } 
.mod_coreValue01 .list_item p { position: relative; padding-left: 10px; } 
.mod_coreValue01 .list_item p::before { content: '\002D'; display: block; position: absolute; left: 0; top: 0; } 

/* 재무정보 */
.mod_finance10 { padding: 80px 0 0; background: #fff; } 
.mod_finance10 > h3 span { color: #cccccc; } 
.mod_finance10 .container > h3 { background: url(../images/corp04/mod_finance_bg.png) no-repeat 50% 0%; } 
.mod_finance10 .conts_wrap > div:nth-child(1):before { background: url(../images/corp04/mod_finance_icon01.png) no-repeat; } 
.mod_finance10 .conts_wrap > div:nth-child(2):before { background: url(../images/corp04/mod_finance_icon02.png) no-repeat; } 
.mod_finance10 .conts_wrap > div:nth-child(3):before { background: url(../images/corp04/mod_finance_icon03.png) no-repeat; } 
.mod_finance10 .conts_wrap > div:nth-child(4):before { background: url(../images/corp04/mod_finance_icon04.png) no-repeat; } 
.mod_percent05 .percent_wrap .stable { background: #3660a6; } 
.mod_percent05 .percent_wrap .scale { background: #5ba2d4; } 
.mod_percent05 .percent_wrap .growth { background: #808080; } 
.mod_percent05 .percent_wrap .profit { background: #213b66; } 