body { max-width: 1440px; width: 100%; margin: auto; } 
.mg70 { margin: 7rem 0 } 
.pd70 { padding: 7rem 0 } 


/* 메인 */
.mod_visual { width: 100%; height: 700px; padding: 60px 0; background: url(../images/corp03/visual.png) no-repeat; background-size: cover; text-align: center; } 
 .mod_visual img { display: block; margin: 20rem auto 2rem; } 
 .mod_visual .comName { color: #fff; font-size: 6.5rem; font-weight: bold; } 
 .mod_visual .title { font-size: 2.6rem; color: #fff; } 
 .sns_mod_info { background: url(../images/corp03/info.png) no-repeat !important; background-size: cover !important; } 
 .sns_mod_info.sty01 .info_wrap > li { color: #a3c8ff; } 

 /* 연혁 */
 .mod_history03 { overflow: hidden; } 
 .mod_history03 .history > div > span { border-top: 1px solid #16388e; } 
.mod_history03 .history > div > ul > li .event span::before { color: #507edb; } 

/* 비전 */
.mod_info01 { display: flex; justify-content: space-around; background-image: url(../images/corp03/vision.png); background-size: cover; background-position: 50% 50%; } 
.mod_info01 > div { background: none; } 
.mod_info01 > div .num { color: #46aef7; } 
.mod_info01 > div .vision, .mod_info01 > div .mission, .mod_info01 > div .slogan { font-size: 1.8rem; } 

/* 핵심가치 */
.mod_keyvalue { background: #f4f4f4; } 
.keyvalue { position: relative; } 
.keyvalue-wrap { position: relative; margin-left: 300px; } 
.mod_keyvalue h3 { padding-left: 46px; font-size: 4rem; color: #333333; line-height: 1.4; text-align: left; font-weight: bold; position: relative; } 
.mod_keyvalue h3:before { content: ''; display: block; width: 3px; height: 80px; background: #333333; position: absolute; left: 0; top: 20px; } 
.mod_keyvalue h3 span { font-size: 2.1rem; font-weight: normal; margin-left: 25px; } 
.keyvalue-wrap ul, .keyTask-wrap ul { display: flex; justify-content: space-between; } 
.keyvalue-wrap li, .keyTask-wrap li { margin-top: 50px; background: #fff; width: 280px; height: 280px; display: flex; justify-content: center; align-items: center; flex-direction: column; border-radius: 50%; } 
.keyvalue-wrap li h4, .keyTask-wrap li h4 { font-size: 3rem; font-weight: bold; color: #333; margin-top: 25px; text-align: center; } 
.keyvalue-wrap li p, .keyTask-wrap li p { font-size: 18px; color: #333; margin-top: 10px; text-align: center; } 
.keyvalue:after { content: ''; display: block; width: 353px; height: 455px; background-image: url(../images/corp03/keyvalue_img01.png); background-repeat: no-repeat; background-position: left bottom; position: absolute; left: -60px; bottom: 0; } 
.mod_keyvalue hr { margin: 0; border: 1px solid #cccccc; display: block; } 

.keyTask-wrap { position: relative; } 
.keyTask-wrap:after { content: ''; display: block; width: 294px; height: 481px; background-image: url(../images/corp03/keyvalue_img02.png); background-repeat: no-repeat; background-position: right bottom; position: absolute; right: -60px; bottom: 0; } 
.keyTask-wrap ul { margin-right: 300px; } 

/* 인재상 */
.mod_talent h2 { margin-bottom: 4rem; font-size: 4rem; font-weight: bold; text-align: center; } 
.mod_talent .list_area { position: relative; } 
.mod_talent .list_wrap { margin: 0 50px; overflow: hidden; } 
.mod_talent .slick-list { padding: 10px; margin: 0 -20px; } 
.mod_talent .slick-slide { margin: 0 20px; height: auto; } 
.mod_talent .sw_btn_wrap .slick-arrow { position: absolute; top: 50%; transform: translateY(-50%); border: none; font-size: 0; width: 27px; height: 47px; background-image: url(../images/corp03/arrow_btn.png); background-repeat: no-repeat; z-index: 1; } 
.mod_talent .sw_btn_wrap .prev_arrow { left: 0; background-position: 0 0; } 
.mod_talent .sw_btn_wrap .next_arrow { right: 0; background-position: -27px 0; } 
.mod_talent .talent_list li { position: relative; padding: 20px 0; } 
.mod_talent .talent_list li .item { display: flex; width: 250px; height: 250px; border-radius: 50%; box-shadow: 1.5px 2.598px 5.82px 0.18px rgba(0, 0, 0, 0.15); align-items: center; justify-content: center; flex-direction: column; margin: 0 auto; } 
.mod_talent .talent_list li::before { content: ''; width: 1px; height: 120px; position: absolute; top: 50%; left: -20px; transform: translateY(-50%); background: #ddd; } 
.mod_talent .talent_list li h3 { margin-top: 2rem; font-size: 2.4rem; font-weight: bold; } 

/* swot */
.mod_swot03 .swotS:after { background: url(../images/corp03/swot_bg01.png) no-repeat; } 
.mod_swot03 .swotW:after { background: url(../images/corp03/swot_bg02.png) no-repeat; } 
.mod_swot03 .swotO:after { background: url(../images/corp03/swot_bg03.png) no-repeat; } 
.mod_swot03 .swotT:after { background: url(../images/corp03/swot_bg04.png) no-repeat; } 
.mod_swot03 .swotS .tit { border-color: #0078b4; color: #0078b4; } 
.mod_swot03 .swotW .tit { border-color: #00a1b8; color: #00a1b8; } 
.mod_swot03 .swotO .tit { border-color: #86e481; color: #86e481; } 
.mod_swot03 .swotT .tit { border-color: #00c5a2; color: #00c5a2; } 

/* 재무정보 */
.mod_finance01 { padding: 80px 0 0 0; background: #46aef7; } 
.mod_finance01 > div { background-color: #7ec6f9; padding: 60px 48px 40px; border-radius: 16px 16px 0 0; } 
.mod_finance01 h3 { color: #fff; } 
.mod_finance01 > div .tab_wrap .tab > div.on { background: #105bb8; } 

.mod_percent02 { padding: 0 0 80px; background: #46aef7; } 
.mod_percent02 .percent_wrap { background-color: #7ec6f9; padding: 0 48px 60px; border-radius: 0 0 16px 16px; } 
.mod_percent02 .percent_wrap .scale .ico { background: url(../images/corp03/percent_icon01.png) no-repeat center; } 
.mod_percent02 .percent_wrap .growth .ico { background: url(../images/corp03/percent_icon02.png) no-repeat center; } 
.mod_percent02 .percent_wrap .profit .ico { background: url(../images/corp03/percent_icon03.png) no-repeat center; } 
.mod_percent02 .percent_wrap .stable .ico { background: url(../images/corp03/percent_icon04.png) no-repeat center; } 
.mod_percent02 .percent_wrap > div > div span { color: #105bb8; } 

/* 사업영역 */
.mod_business_area03 h3 em { color: #105bb8; } 

/* 복리후생 */
.mod_culture10 { background: url(../images/corp03/business_bg.png) no-repeat; background-size: cover; } 

/* 채용절차 */
.mod_procedure { background: #f4f4f4; padding: 80px 0; } 
h3.title, .h3-title { font-size: 40px; color: #333333; text-align: center; font-weight: bold; } 
h3.title span, .h3-title span { font-size: 2rem; color: #ccc; font-weight: bold !important; letter-spacing: 0.6em; text-align: center; display: block; } 
.mod_procedure .procedure { display: flex; justify-content: space-between; margin-top: 60px; } 
.mod_procedure .procedure div { background: #fff; border: 3px solid #105a83; border-radius: 150px; text-align: center; padding: 60px 0; width: 280px; position: relative; } 
.mod_procedure .procedure div:before { content: ''; display: block; width: 100%; height: 110px; margin-bottom: 20px; } 
.mod_procedure .procedure div:first-child::before { background: url(../images/corp03/procedure_icon01.png) no-repeat center; } 
.mod_procedure .procedure div:nth-child(2)::before { background: url(../images/corp03/procedure_icon02.png) no-repeat center; } 
.mod_procedure .procedure div:nth-child(3)::before { background: url(../images/corp03/procedure_icon03.png) no-repeat center; } 
.mod_procedure .procedure div:nth-child(3) { background: #105bb8; } 
.mod_procedure .procedure div:nth-child(3) h4 { color: #fff; } 
.mod_procedure .procedure div:nth-child(3) p.step_txt { color: #fff; } 
.mod_procedure .procedure h4 { font-size: 3rem; font-weight: bold; color: #105bb8; padding: 12px 0; border-radius: 50px; width: 200px; margin: 0 auto; } 
.mod_procedure .procedure div p.step_txt { color: #666; } 
.mod_procedure .procedure div:after { content: ''; display: block; background: url(../images/corp03/procedure_icon04.png) no-repeat center center; width: 26px; height: 39px; position: absolute; right: -110px; top: 45%; } 
.mod_procedure .procedure > div:last-child::after { display: none; } 

/* 인터뷰 */
.mod_interview05 .tabs li a {height: auto;}


 @media all and (max-width:1024px){
 .container { width: calc(100% - 40px); } 

.keyvalue:after { background-size: 70% auto; left: 0; } 
.keyvalue-wrap { margin-left: 200px; } 
.keyvalue-wrap li, .keyTask-wrap li { width: 190px; height: 190px; } 
.keyTask-wrap:after { background-size: 70% auto; right: 0; } 
.keyTask-wrap ul { margin-right: 200px; } 

.mod_percent02 .container { padding: 0; } 
 }
 
 @media all and (max-width:768px) { html { font-size: 8px } 
 .mod_visual { height: 250px; padding: 3rem 0; } 
 .mod_visual img { max-width: 130px; margin: 2rem auto 2rem } 
 .mod_visual .title { font-size: 2rem; } 
 .mod_visual .comName { font-size: 3rem; } 
 
 .sns_mod_info.sty01 { padding: 5rem 0; } 
 .sns_mod_info.sty01 .info_wrap { flex-wrap: wrap; } 
 .sns_mod_info.sty01 .info_wrap > li { width: calc(50% - 10px); margin-right: 20px; } 
 .sns_mod_info.sty01 .info_wrap > li:nth-child(-n + 2) { margin-bottom: 20px; } 
 .sns_mod_info.sty01 .info_wrap > li:nth-child(2n) { margin-right: 0; } 
 .sns_mod_info.sty01 .info_wrap > li > div.ico { background-size: 50px !important; height: 50px; } 

 .keyvalue:after,
 .keyTask-wrap:after { content: none; } 
 .keyvalue-wrap { margin-left: 0; } 
 .mod_keyvalue h3 { margin-bottom: 20px; } 
 .mod_keyvalue h3:before { height: 70px; top: 10px; } 
.keyvalue-wrap ul, .keyTask-wrap ul { flex-wrap: wrap; justify-content: center; } 
.keyvalue-wrap ul li, .keyTask-wrap ul li { margin: 10px; } 
.keyTask-wrap ul { margin-right: 0; } 

.mod_talent .talent_list li .item { width: 180px; height: 180px; } 

.mod_procedure .procedure {
    flex-direction: column;
    align-items: center;
}
.mod_procedure .procedure div:first-child::before,
.mod_procedure .procedure div:nth-child(2)::before,
.mod_procedure .procedure div:nth-child(3)::before {
    background-size: auto 50%;
    margin-bottom: 0;
}
.mod_procedure .procedure div {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
}
.mod_procedure .procedure div:after {
    right: initial;
    top: initial;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%) rotate(90deg);
}




 }