html { font-size: 10px } 
.mg70 { margin: 7rem 0 } 
.pd70 { padding: 7rem 0 } 

/* 메인 */
.mod_visual { width: 100%; height: 600px; position: relative; padding: 60px 0; background: url(../images/corp08/visual.png) no-repeat; background-size: cover; } 
.mod_visual .container { position: initial; } 
.mod_visual .cert_wrap { position: absolute; top: 0; right: 80px; padding: 18px 10px; background-color: rgba(212, 31, 49, 0.4); border-radius: 0 0 10px 10px; } 
.mod_visual .cert_wrap .cert_img { margin-bottom: 10px; text-align: center; } 
.mod_visual .cert_wrap p { color: #fff; font-size: 1.4rem; font-weight: 600; text-align: center; } 
.mod_visual .txt_wrap { margin-top: 120px; text-align: left; } 
.mod_visual .comName { color: #fff; font-size: 3.2rem; } 
.mod_visual .comName b { font-size: 3.2rem; } 
.mod_visual .title { margin-top: 6rem; font-size: 6rem; color: #fff; font-weight: bold; } 
.mod_visual .imgCi { position: absolute; bottom: 0; right: 0; } 
.sns_mod_info.sty01 { background: url(../images/corp08/info.png) no-repeat !important; background-size: cover !important; } 
.sns_mod_info.sty01 .info_wrap > li { font-size: 1.8rem; color: #fff; } 
.sns_mod_info.sty01 ul li:nth-child(1) .ico { background: url(../images/corp08/ico_finance01.png) no-repeat center; } 
.sns_mod_info.sty01 ul li:nth-child(2) .ico { background: url(../images/corp08/ico_finance02.png) no-repeat center; } 
.sns_mod_info.sty01 ul li:nth-child(3) .ico { background: url(../images/corp08/ico_finance03.png) no-repeat center; } 
.sns_mod_info.sty01 ul li:nth-child(4) .ico { background: url(../images/corp08/ico_finance04.png) no-repeat center; } 

/* 기업소개 */
.mod_introduce h3 { margin-bottom: 40px; font-weight: 600; font-size: 4rem; text-align: center; } 
.mod_introduce .txt { font-size: 1.8rem; line-height: 1.6; text-align: center; } 
.mod_introduce .introduce_item { display: flex; align-items: center; justify-content: space-between; gap: 10px; margin-top: 40px; } 
.mod_introduce .introduce_txt { max-width: 830px; } 
.mod_introduce .introduce_txt p { font-size: 1.8rem; line-height: 1.6; word-break: keep-all; } 

/* 핵심가치 */
.mod_vision { padding: 70px 60px; background-color: #fbf6f5; } 
.mod_vision h3 { margin-bottom: 40px; font-weight: 600; font-size: 4rem; text-align: center; } 
.mod_vision .txt { color: #333; font-size: 2.4rem; text-align: center; } 
.mod_vision .txt::before, .mod_vision .txt::after { display: inline-block; content: ''; width: 16px; height: 13px; margin-right: 10px; background: url(../images/corp08/vision_img01.png) no-repeat center; vertical-align: top; } 
.mod_vision .txt::after { margin-left: 10px; background: url(../images/corp08/vision_img02.png) no-repeat center; } 
.mod_vision .vision_list { display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px; margin-top: 60px; } 
.mod_vision .vision_list li::before { content: ''; display: block; width: 100%; height: 56px; margin-bottom: 20px; background-image: url(../images/corp08/vision_list01.png); background-repeat: no-repeat; background-position: center right; background-size: contain; } 
.mod_vision .vision_list li:nth-child(2):before { background-image: url(../images/corp08/vision_list02.png); } 
.mod_vision .vision_list li:nth-child(3):before { background-image: url(../images/corp08/vision_list03.png); } 
.mod_vision .vision_list li:nth-child(4):before { background-image: url(../images/corp08/vision_list04.png); } 
.mod_vision .vision_list li { padding: 30px 20px; background-color: #fff; border-radius: 20px; box-shadow: 0px 2px 7.36px 0.64px rgba(0, 0, 0, 0.1); } 
.mod_vision .vision_list__tit strong { color: #333333; font-size: 2.4rem; font-weight: 600; } 
.mod_vision .vision_list__tit p { margin-top: 15px; color: #b42432; font-size: 1.6rem; } 
.mod_vision .vision_list__txt { margin-top: 20px; color: #848484; font-size: 1.8rem; } 

/* 연혁 */
.mod_history02 { overflow: hidden; } 
.mod_history02 .history { max-width: 1200px; width: 100%; } 
.mod_history02 .slick-slide { height: auto; } 

/* 재무정보 */
.mod_finance03 > div { background-color: #fbf6f5; } 
.mod_finance03 > div .tab_wrap .tab { border-color: #c31f2f; } 
.mod_finance03 > div .tab_wrap .tab > div + div { border-color: #c31f2f; } 
.mod_finance03 > div .tab_wrap .tab > div.on { background-color: #c31f2f; } 

/* 제품소개 */
.mod_business_area04 .bizDiv .slick-slide .info > h4 { color: #333333; font-size: 2.4rem; text-align: center; } 
.mod_business_area04 .bizDiv .slick-slide .info > p { color: #333333; font-size: 1.8rem; text-align: center; } 
.mod_business_area04 .slick-dots { position: absolute; bottom: -18px; display: block; width: 100%; padding: 0; list-style: none; text-align: center } 

.mod_business_area04 .slick-dots li { position: relative; display: inline-block; margin: 0 5px; padding: 0; } 

.mod_business_area04 .slick-dots li button { display: block; width: 18px; height: 18px; background-color: #dadada; font-size: 0; border: 0; outline: 0; cursor: pointer; border-radius: 50%; } 
.mod_business_area04 .slick-dots li.slick-active button { width: 36px; background-color: #c31f2f; border-radius: 20px; } 

/* 갤러리 */
.mod_gallery .gallery_wrap { display: flex; gap: 10px; } 
.mod_gallery .gallery_wrap ul:nth-child(1) { display: grid; grid-template-columns: 2fr 2fr; gap: 10px; } 
.mod_gallery .gallery_wrap img { display: block; } 

/* 복리후생 */
.mod_culture09 { margin: 0 auto; padding: 80px 10px; background-color: #fbf6f5; } 
.mod_culture09 .item:before { width: 80px; height: 80px; margin: 0 0 0 0; background-color: #f0f0f0 !important; background-repeat: no-repeat; background-position: center; border-radius: 10px; } 
.mod_culture09 .item.insurance:before { background-image: url(../images/corp08/welfare_icon01.png); } 
.mod_culture09 .item.reward:before { background-image: url(../images/corp08/welfare_icon02.png); } 
.mod_culture09 .item.education:before { background-image: url(../images/corp08/welfare_icon03.png); } 
.mod_culture09 .item.facilities:before { background-image: url(../images/corp08/welfare_icon04.png); } 
.mod_culture09 .item.convenience:before { background-image: url(../images/corp08/welfare_icon05.png); } 
.mod_culture09 .item.holiday:before { background-image: url(../images/corp08/welfare_icon06.png); } 
.mod_culture09 .item.leisure:before { background-image: url(../images/corp08/welfare_icon07.png); } 
.mod_culture09 .item.deduct:before { background-image: url(../images/corp08/welfare_icon01.png); } 
.mod_culture09 .item dl { display: flex; flex-wrap: wrap; gap: 4px; } 
.mod_culture09 .item dt { width: 100%; padding: 0; font-size: 1.6rem; font-weight: 600; } 
.mod_culture09 .item dd { color: #a8a8a8; font-size: 1.4rem; } 
.mod_culture09 .item dd:not(:last-child)::after { content: ','; } 
.mod_culture09 .culwel_wrap { padding: 20px; background-color: #fff; border-radius: 15px; box-shadow: 0px 2px 7.36px 0.64px rgba(0, 0, 0, 0.1); } 
.mod_culture09 .slick-track .slick-slide > div + div { padding: 20px 0; } 
.mod_culture09 .slick-track .slick-slide > div { min-height: 110px; padding: 20px 0; } 
.mod_culture09 .welfare_box { display: flex; margin-bottom: 40px; } 
.mod_culture09 .welfare_img { display: flex; justify-content: center; flex-shrink: 0; width: 300px; height: 250px; padding: 40px 10px; background: url(../images/corp08/welfare_img.png) center no-repeat; } 
.mod_culture09 .welfare_img p { margin-top: auto; color: #fff; font-size: 2.4rem; font-weight: 700; } 
.mod_culture09 .welfare_txt { display: flex; align-items: center; width: 100%; padding: 10px 40px; background-color: #fff; border-radius: 15px; box-shadow: 0px 2px 7.36px 0.64px rgba(0, 0, 0, 0.1); } 
.mod_culture09 .welfare_txt p { color: #333; font-size: 1.8rem; } 

/* 인재상 */
.mod_talent { background-color: #fff; } 
.mod_talent h3 { margin-bottom: 40px; font-weight: 600; font-size: 4rem; text-align: center; } 
.mod_talent .txt { color: #333; font-size: 2.4rem; text-align: center; } 
.mod_talent .txt::before, .mod_talent .txt::after { display: inline-block; content: ''; width: 16px; height: 13px; margin-right: 10px; background: url(../images/corp08/vision_img01.png) no-repeat center; vertical-align: top; } 
.mod_talent .txt::after { margin-left: 10px; background: url(../images/corp08/vision_img02.png) no-repeat center; } 
.mod_talent .talent_list { display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px; margin-top: 60px; } 
.mod_talent li { border-radius: 15px; overflow: hidden; } 
.mod_talent li .talent_list__txt::before { content: ''; display: block; width: 100%; height: 230px; margin-bottom: 18px; background-image: url(../images/corp08/talent_img01.png); background-size: cover; background-repeat: no-repeat; } 
.mod_talent li:nth-child(2) .talent_list__txt::before { background-image: url(../images/corp08/talent_img02.png); } 
.mod_talent li:nth-child(3) .talent_list__txt::before { background-image: url(../images/corp08/talent_img03.png); } 
.mod_talent li:nth-child(4) .talent_list__txt::before { background-image: url(../images/corp08/talent_img04.png); } 
.mod_talent li:nth-child(even) .talent_list__txt { background-color: #5e5e5e; } 
.mod_talent li .talent_list__txt { padding-bottom: 18px; color: #fff; font-size: 1.8rem; font-weight: 600; text-align: center; background-color: #635252; } 

/* 인재상 */
.mod_interview02 { background-color: #fbf6f5; } 
.mod_interview02 .container { background-color: #fbf6f5; box-shadow: none; } 
.mod_interview02 h3 { color: #333; } 
.mod_interview02 .slick-slide { height: auto; } 
.mod_interview02 .iv_wrap .q:before { color: #333; } 
.mod_interview02 .iv_wrap .q { color: #333; font-size: 2rem; } 
.mod_interview02 .iv_wrap .a { color: #333; font-size: 1.6rem; font-weight: 300; } 
.mod_interview02 .slick-dots li { background-color: #dadada; } 
.mod_interview02 .slick-dots li.slick-active { background-color: #c31f2f; } 

/* 기업전경 */
.mod_imgCom .slick-slide { height: auto; } 
.mod_imgCom .slick-dots { position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%); width: 100%; padding: 0; list-style: none; text-align: center } 
.mod_imgCom .slick-dots li { position: relative; display: inline-block; margin: 0 5px; padding: 0; } 
.mod_imgCom .slick-dots li button { display: block; width: 18px; height: 18px; background-color: #dadada; font-size: 0; border: 0; outline: 0; cursor: pointer; border-radius: 50%; } 
.mod_imgCom .slick-dots li.slick-active button { width: 36px; background-color: #c31f2f; border-radius: 20px; } 



/* 자소서 */
.mod_strategy01 .stg_tit { background-color: #c31f2f; } 
.mod_strategy01 .guide_wrap .item .q:before { color: #c31f2f; font-weight: 700; } 
.mod_strategy01 .guide_wrap .item .q { font-weight: 600; } 
.mod_strategy01 .ps_wrap .add_point { background-color: #c31f2f; } 
.mod_strategy01 .ps_wrap .spec h4 { background-color: #c31f2f; } 
.mod_strategy01 .stg_bg:before { background-color: #fbf2f3; } 
.mod_strategy01 .interview_tip .stg_tit02 { color: #c31f2f; } 
.mod_strategy01 .interview_tip .item:before { color: #c31f2f; font-weight: 600; } 
.mod_strategy01 .ps_wrap .add_point h4,
.mod_strategy01 .ps_wrap .spec h4 { max-width: 300px; width: 100%; } 
.mod_strategy01 .interview_tip .btn_wrap { max-width: 370px; width: 100%; } 
.mod_strategy01 .qm_btn_wrap { text-align: center; } 
.mod_strategy01 .round_wrap {border-color: #c31f2f;}

@media all and (max-width:1024px){
 .mod_talent .talent_list { grid-template-columns: repeat(2, 1fr); gap: 20px; } 
 }

@media all and (max-width:768px) { html { font-size: 8px; } 
.mod_visual { height: 250px; } 
.mod_visual .txt_wrap { margin-top: 0; text-align: center; } 
.mod_visual .comName { font-size: 1.8rem; } 
.mod_visual .comName b { font-size: 1.8rem; } 
.mod_visual .title { margin-top: 1rem; font-size: 3rem; } 
.mod_visual .cert_wrap { right: 1rem; padding: 1rem; } 
.mod_visual .imgCi { position: static; margin-top: 1rem; text-align: center; } 
.mod_visual .imgCi img { max-width: 3.2rem; } 
.mod_visual .cert_wrap .cert_img img { max-width: 3rem; } 
.mod_visual .cert_wrap p { font-size: 0.5rem; } 
 .sns_mod_info.sty01 { padding: 5rem 0 } 
 .sns_mod_info.sty01 .info_wrap { flex-wrap: wrap; } 
 .sns_mod_info.sty01 .info_wrap > li { width: calc(50% - 10px); margin-right: 20px } 
 .sns_mod_info.sty01 .info_wrap > li:nth-child(2n) { margin-right: 0 } 
 .sns_mod_info.sty01 .info_wrap > li:nth-child(-n + 2) { margin-bottom: 20px } 
 .sns_mod_info.sty01 .info_wrap > li > div.ico { background-size: contain; height: 50px; } 

 .mod_vision { padding: 30px 30px; } 
 .mod_introduce .introduce_item { flex-direction: column; } 
 .mod_vision .vision_list { grid-template-columns: repeat(2, 2fr); } 

 .mod_culture09 .welfare_box { flex-direction: column; } 
 .mod_culture09 .welfare_img { width: 100%; background-size: cover; border-radius: 10px 10px 0 0; } 
 .mod_culture09 .welfare_txt { border-radius: 0 0 10px 10px; } 
 .mod_culture09 .container .slick-dots { bottom: -90px; } 
 }

@media all and (max-width:640px){
 .inner { padding: 0 10px; } 
 .mod_visual .cert_wrap .cert_img img { max-width: 1.8rem; } 
 .mod_visual .cert_wrap .cert_img { margin-bottom: 5px; } 
 .mod_visual .cert_wrap { right: 0.5rem; padding: 0.5rem 1rem; } 
 .mod_vision { padding: 20px 10px; } 
 .mod_vision .vision_list { grid-template-columns: repeat(1, 1fr); } 
 .mod_talent .talent_list { grid-template-columns: repeat(1, 1fr); gap: 10px; } 
 .mod_culture09 .container .slick-dots li { width: 10px; height: 10px; } 
 .mod_culture09 .container .slick-dots li.slick-active { width: 23px; } 
 .mod_imgCom .slick-dots li button { width: 10px; height: 10px; } 
 .mod_imgCom .slick-dots li.slick-active button { width: 23px; } 
 .mod_business_area04 .slick-dots li.slick-active button { width: 23px; } 
 .mod_business_area04 .slick-dots li button { width: 10px; height: 10px; } 
 .mod_finance03 { padding: 30px 0; } 
 .mod_business_area04 { padding: 30px 0; } 
 .mod_culture09 { padding: 30px 10px; } 
 .mod_interview02 { padding: 30px 0; } 
 .mod_strategy01 { padding: 40px 0 0 0; } 
 .mod_strategy01 .stg_tit { padding: 10px; } 
 .mod_strategy01 .interview_tip { padding: 0; } 
 }