@charset "UTF-8";

.youthservice-wrap {
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
}

.inner-section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.ys-banner {
    width: 100%;
    margin-bottom: 30px;
}

.ys-banner-cont {
    display: none;
    width: 100%;
    height: 260px;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 16px;
}

.ys-banner-cont.youth { 
    background-color: #eff6fe;
    background-image: url(../images/youthservice/banner-youth.png); 
    background-position: bottom right;
}

.ys-banner-cont.middle { 
    background-color: #e2f3fa; 
    background-image: url(../images/youthservice/banner-middle.png); 
    background-position: bottom right;
}

.ys-banner-cont.woman { 
    background-color: #fef2f4; 
    background-image: url(../images/youthservice/banner-woman.png); 
    background-position: bottom right;
}

.ys-banner-txt {
    text-align: left;
}

.ys-badge {
    display: inline-block;
    padding: 4px 30px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.ys-banner-tit {
    font-size: 56px;
    color: #484848;
    letter-spacing: -2px;
    font-weight: 700;
}

.ys-banner-tit strong {
    font-weight: 700;
}

.ys-banner-desc {
    margin-top: 12px;
    color: #484848;
    font-size: 16px;
}

.bg-blue { background-color: #0a5fd2; }
.c-blue { color: #0a5fd2; }

.bg-navy { background-color: #06658d; }
.c-navy { color: #06658d; }

.bg-pink { background-color: #f64764; }
.c-pink { color: #f64764; }

.ys-tab-menu {
    width: 100%;
    margin-bottom: 40px;
}

.ys-tab-list {
    display: inline-flex;
    gap: 1px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ececec;
    border-radius: 30px;
    overflow: hidden;
}
.ys-tab-list li {
   position: relative;
}
.ys-tab-list li button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   min-width: 200px;
   padding: 10px 26px;
   font-size: 18px;
   border-radius: 30px;
   cursor: pointer;
}
.ys-tab-list li button::before {
   display: block;
   content: '';
   width: 20px;
   height: 21px;
   background: url(../images/youthservice/ico-button_off.png) center no-repeat;
   background-size: contain;
}
.ys-tab-list li.active button::before {
   background: url(../images/youthservice/ico-button_on.png) center no-repeat;
}
.ys-tab-list li.active button {
    color: #ffffff;
    font-weight: bold;
}
.ys-tab-list li.youth.active button {
   background-color: #0a5fd2;
}
.ys-tab-list li.middle.active button {
   background-color: #06658d;
}
.ys-tab-list li.woman.active button {
   background-color: #f64764;
}
.ys-tab-list li:not(:first-child)::before {
   content: '';
   width: 1px;
   height: 50%;
   position: absolute;
   left: -1px;
   top: 50%;
   transform: translateY(-50%);
   background-color: #ececec;
}

.ys-content {

}
.ys-content-item {
   background-color: #fefefe;
   border: 1px solid #ececec;
   border-radius: 20px;
}